body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(bj.jpeg);
   
}

h1 {
    padding: 10px;
    margin: 0;
    background-color: #04364A;
    color: #97d3cd;
    padding-left: 20px;
    text-align: center;
}


a {
    text-transform: uppercase;
    text-decoration: none;
    color: #DAFFFB;
    font-weight: bold;
}


 .header a:hover {
    font-size: 20px; /* Increase the font size on hover */
   
    
     /* Add shadow on hover */
}


.header {
    
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    background-color: #176B87;
}

#form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

 
}
#dash{
   color: #04364A;
    
}
h3 {
    padding: 10px;
    margin: 0;
    background-color: #04364A;
    color: #DAFFFB;
    padding-left: 20px;
    text-align: center;
}

.icon-space {
    margin-right: 10px;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

#map {
    width: 100%;
    height: 200px; /* Adjust this based on your preference */
}

@media (min-width: 768px) { /* This is a typical breakpoint for tablets and up */
    #map {
        width: 100px;
        height: 200px;
    }
}



